@import "@styles/mixins";

.backdrop {
  // scss-docs-start modal-backdrop-css-vars
  --#{$prefix}backdrop-zindex: #{$zindex-modal-backdrop};
  --#{$prefix}backdrop-bg: #{$modal-backdrop-bg};
  --#{$prefix}backdrop-opacity: #{$modal-backdrop-opacity};
  // scss-docs-end modal-backdrop-css-vars

  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--#{$prefix}backdrop-zindex);
  width: 100vw;
  height: 100vh;
  background-color: var(--#{$prefix}backdrop-bg);
  opacity: var(--#{$prefix}backdrop-opacity);
}

@include dark-mode {
  .backdrop {
    --#{$prefix}backdrop-bg: #{$modal-backdrop-bg-dark};
  }
}

.base {
  --#{$prefix}modal-zindex: #{$zindex-modal};
  --#{$prefix}modal-margin: #{$modal-dialog-margin};

  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--#{$prefix}modal-zindex);
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline: 0;
  // We deliberately don't use `-webkit-overflow-scrolling: touch;` due to a
  // gnarly iOS Safari bug: https://bugs.webkit.org/show_bug.cgi?id=158342
  // See also https://github.com/twbs/bootstrap/issues/17695

  @media (min-width: 56.25em) {
    --#{$prefix}modal-margin: #{$modal-dialog-margin-y-sm-up};
  }
}

.inner {
  position: relative;
  width: auto;
  margin: var(--#{$prefix}modal-margin);
  // allow clicks to pass through for custom click handling to close modal
  pointer-events: none;

  transform: $modal-show-transform;

  display: flex;
  align-items: center;
  min-height: calc(100% - var(--#{$prefix}modal-margin) * 2);

  @media (min-width: 56.25em) {
    max-width: var(--#{$prefix}modal-width);
    margin-right: auto;
    margin-left: auto;
  }

  button {
    --#{$prefix}lightbox-btn-line-height: #{$btn-line-height};
    --#{$prefix}lightbox-btn-color: #{$gray-700};

    display: inline-block;
    line-height: var(--#{$prefix}btn-line-height);
    color: var(--#{$prefix}lightbox-btn-color);
    text-align: center;
    white-space: $btn-white-space;
    vertical-align: middle;
    cursor: if($enable-button-pointers, pointer, null);
    user-select: none;
    @include transition($transition-fade);
    border: 0;
    background-color: transparent;
    padding: $spacer;
    @include font-size(3rem);
    opacity: 0.3;

    pointer-events: auto;

    &:hover {
      opacity: 1;
    }

    &:focus-visible {
      @if $enable-shadows {
        box-shadow: var(--#{$prefix}btn-box-shadow),
          var(--#{$prefix}btn-focus-box-shadow);
      } @else {
        box-shadow: var(--#{$prefix}btn-focus-box-shadow);
      }
    }

    @media (min-width: 50em) {
      @include font-size(4rem);
      padding: $spacer * 1.5;
    }
  }
}

@include dark-mode {
  .inner {
    button {
      --#{$prefix}lightbox-btn-color: #{$gray-300};
    }
  }
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  // counteract the pointer-events: none; in the .modal-dialog
  pointer-events: auto;
  background-clip: padding-box;
  // Remove focus outline from opened modal
  outline: 0;

  // Centre content
  margin-left: auto;
  margin-right: auto;
}

.image {
  max-height: calc(100vh - var(--#{$prefix}modal-margin) * 2);
  user-select: none;
}
