/* ---------------------------------- Body ---------------------------------- */

$body-bg-dark: $black;

/* ------------------------------- Components ------------------------------- */

$section-color-dark: $charcoal;

/* ------------------------------- Typography ------------------------------- */

$headings-color-dark: $gray-100;
$subheadings-color-dark: $gray-500;

/* ---------------------------------- Cards --------------------------------- */

$card-title-color-dark: $headings-color-dark;
$card-subtitle-color-dark: $subheadings-color-dark;
