@import "bootstrap/scss/functions";

/* --------------------------------- Options -------------------------------- */

$prefix: "valkyr-";

/* --------------------------------- Spacing -------------------------------- */

$enable-shadows: true;
$spacer: 1.5rem;

/* ------------------------------- Components ------------------------------- */

$border-radius: 0;

/* ------------------------------- Typography ------------------------------- */

$font-family-sans-serif: "Roboto", sans-serif;
// Set 1rem to 10px
$font-size-root: 62.5%;
$font-size-base: 1.6rem;

$headings-font-family: "Noto Serif", serif;

/* ---------------------------------- Cards --------------------------------- */

$card-spacer-y: $spacer * 2;
$card-spacer-x: $spacer * 2;
$card-border-width: 0;
$card-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35);

@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
