@use "sass:math";
@import "bootstrap/scss/functions";

/* ------------------------------ Color system ------------------------------ */

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #2b8fd4;

$blue-100: tint-color($blue, 80%) !default;
$blue-200: tint-color($blue, 60%) !default;
$blue-300: tint-color($blue, 40%) !default;
$blue-400: tint-color($blue, 20%) !default;
$blue-500: $blue !default;
$blue-600: shade-color($blue, 20%) !default;
$blue-700: shade-color($blue, 40%) !default;
$blue-800: shade-color($blue, 60%) !default;
$blue-900: shade-color($blue, 80%) !default;

/* --------------------------------- Options -------------------------------- */

$prefix: "valkyr-";

/* --------------------------------- Spacing -------------------------------- */

$enable-shadows: true;
$spacer: 1.5rem;

/* ------------------------------- Components ------------------------------- */

$border-radius: 0;

/* ------------------------------- Typography ------------------------------- */

$font-family-sans-serif: "Roboto", sans-serif;
// Set 1rem to 10px
$font-size-root: 62.5%;
$font-size-base: 1.6rem;

$headings-font-family: "Noto Serif", serif;

/* ----------------------------- Buttons + Forms ---------------------------- */

$input-btn-padding-y-lg: math.div($spacer, 2);
$input-btn-padding-x-lg: $spacer;

/* ---------------------------------- Cards --------------------------------- */

$card-spacer-y: $spacer * 2;
$card-spacer-x: $spacer * 3;
$card-title-color: $gray-900;
$card-subtitle-color: $gray-600;
$card-border-width: 0;
$card-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.35);
$card-bg: $white;

/* --------------------------------- Badges --------------------------------- */

$badge-font-size: 85%;
$badge-padding-y: math.div($spacer, 2);
$badge-padding-x: math.div($spacer, 3) * 2;

@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
