@import "@styles/variables";

$gallery-item-spacer: $spacer * 2;

.base {
  @include list-unstyled;
  margin-bottom: 0;

  // Center the images
  text-align: center;

  @include media-breakpoint-up(md) {
    columns: auto 2;
    column-gap: $gallery-item-spacer;
  }
}

.item {
  margin-bottom: $gallery-item-spacer;

  button {
    display: inline-block;
    padding: 0;
    cursor: if($enable-button-pointers, pointer, null);
    user-select: none;
    border: none;
  }
}
