@import "@styles/variables";

$gallery-item-spacer: $spacer * 2;

.base {
  @include list-unstyled;
  margin-bottom: 0;
  padding: ($section-padding-y - $gallery-item-spacer) $section-padding-x
    ($section-padding-y - $gallery-item-spacer * 2);

  // Center the images
  text-align: center;

  // 900px
  @media (min-width: 56.25em) {
    columns: 2 40rem;
    column-gap: $gallery-item-spacer;
  }
}

.item {
  margin-bottom: $gallery-item-spacer;

  button {
    display: inline-block;
    padding: 0;
    cursor: if($enable-button-pointers, pointer, null);
    user-select: none;
    border: none;
  }
}
